<!doctype html>
<html class="js">
    <head>
        <meta charset="utf-8">
        <title>QuizGame</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <meta name="theme-color" content="#fafafa">
    </head>

    <body>
        <h1 id="title">ようこそ</h1>
        <div id="quiz-status"></div>
        <hr>
        <p id="question">以下のボタンをクリック</p>
        <hr>
        <div id="answer-button"></div>
        <button id="start">開始</button>

        <script src="../public/js/index.js"></script>
    </body>
</html>